/* ----------------------------- */
/* -------- Main Styling -------- */
/* ----------------------------- */

#about-me {
    margin: 250px auto;
}

#about-me h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    line-height: 35px;
    margin-bottom: 50px;
}

#about-me h1 span {
    font-size: 18px;
    color: #777;
}

#about-me .content {
    display: flex;
    justify-content: space-around;
}

#about-me .box-one {
    width: 40%;
    background: url("../main-header/LINKDEN PHOTO.JPEG") center no-repeat;
    background-size: cover;
    border-radius: 15px;
    filter: grayscale(100%);
    transform: scaleX(-1);

}

#about-me .box-two {
    width: 40%;
}

#about-me .box-two .side-one{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#about-me .box-two .side-one .card a{
    text-decoration: none;
}

#about-me .card {
    width: 18%;
    text-align: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 9px #e7e7e7;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#about-me .card h2 {
    font-size: 12px;
    color: #777;
}

#about-me .card i, #about-me .card a {
    font-size: 50px;
    color: black;
}

#about-me .side-two p {
    color: #777;
    margin: 40px 0;
}

#about-me .side-three {
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-size: 12px;
    border-radius: 8px;
    text-decoration: none;
    width: fit-content;

}




@media (min-width: 600px) {
    #about-me .container {
        width: 600px;
        margin: auto;
    }

    #about-me .card {
        width: 25%;
        padding: 10px;
    }

    #about-me .card i, #about-me .card a {
        font-size: 10px;
    }

    #about-me .card h2 {
        font-size: 8px;
    }

    #about-me .side-two p {
        margin: 20px 0;
        font-size: 10px;
    }

    #about-me .box-one, #about-me .box-two {
        width: 45%;
    }

    #about-me .side-three {
        padding: 13px 20px;
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    #about-me .container {
        width: 768px;
    }

    #about-me .card a {
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 3px;
    }

    #about-me .side-two p {
        margin: 30px 0;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    #about-me .container {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    #about-me .container {
        width: 800px;
    }

    #about-me .side-three {
        padding: 13px 20px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    #about-me .container {
        width: 350px;
        margin: auto;
    }

    #about-me .content {
        flex-direction: column;
    }

    #about-me .box-one {
        width: 100%;
        background-color: red;
        z-index: 100;
    }

    #about-me .box-two {
        width: 100%;
    }

    #about-me .card {
        width: 18%;
        padding: 15px 20px;
    }

    #about-me .side-two p {
        text-align: center;
        font-size: 15px;
        margin: 25px 0;
    }

    #about-me .side-three {
        padding: 15px 25px;
        font-size: 12px;
        margin: auto;
    }
}
